emberFrontEnd/vendor

logs
emberFrontEnd/*.log


emberFrontEnd/pids
emberFrontEnd/*.pid
emberFrontEnd/*.seed

emberFrontEnd/lib-cov


emberFrontEnd/coverage


emberFrontEnd/.grunt


emberFrontEnd/build/Release

emberFrontEnd/node_modules


emberFrontEnd/.lock-wscript

rails/*.rbc
rails/capybara-*.html
rails/.rspec
rails/log
rails/tmp
rails/db/*.sqlite3
rails/public/system
rails/coverage/
rails/spec/tmp
rails/**.orig
rails/rerun.txt
rails/pickle-email-*.html


rails/.bundle
rails/vendor/bundle

rails/.rvmrc

.DS_Store
